
h1 {color: red}
p {color: white}
h3 {color: white}
  
body {
      background-color: black
      }

      * {
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
<style>
/* Style the header */
.header {

  height: 50vw;
  text-align: center;
  font-size: 35px;
  position: fixed;
}

 nav a {
   font-size: 20px;
  padding: 12px 1px;
  text-decoration: none;
  color: white;
  box-align: grid;
}

nav a:hover {
  color: gray;
}







nav li {
  display: inline-block;
  margin: 0px 5px
}

/* Create three unequal columns that floats next to each other */
.column {

width: 80vw;
height: auto;
margin-top: 10vh;
background-color: black;
min-height: 100vh;
margin-left: 10vw;
margin-right: 10vw;

text-align: center;






}
.row {
  background-image: url('/Images/achtergrond.jpg');
 #bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  background-size: 100%;
  background-repeat: no-repeat;

#bg img {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
}


  
  
  

}



/*onderste kolom */
.footer {
  position: bottom;
  bottom: 0px;
  width: 100%;
  background-color:black;
  padding: 7px;
  text-align: center;
}

.navbarfooter a {
  
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  box-align: grid;
  
}
.navbarfooter a:hover {
  color: gray;
  }


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
   .column {
    width: 100%;
  }
}

 
</style>



