*{padding: 0;
  margin: 0;
 }

h1 {color: red}
p {color: black}
h3 {color: black}
h4 {color: black}
  
body {

 background-image: url(Images/achtergrond.jpg);
 background-size: cover;
 font-family: Arial, Helvetica, sans-serif;
 
}


.header {
  height: 10vh;
  background-color: rgb(220, 220,220);
  text-align: left; 
  box-align: center;
  font-size: 35px;
  position: top;
  width: 100%;
  z-index: 2;
  
}
.nav ul li:hover{
  background-color: rgba(205,228,220,255);
 
  
  

}


.nav {
  padding: 20px 10px;
}
 .nav a {
  padding: 10px 10px;
  font-size: 20px;
 
  text-decoration: none;
  color: black;
  box-align: grid;
 
  
}


.nav li {
  display: inline-flex;
  margin: 10px 5px;
}



.search-form{
 
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 10px;
  align-items: center;
}





.container {
  
  overflow:auto;
}

/* Bottom right text */
.text-block {
 margin-top: 10%;
 margin-bottom: 10%;
 margin-right: 10%;
 margin-left: 10%;
 background-color:  rgba(220, 220, 220, 0.9);
 border-radius: 25px;
 padding: 10px;
 border: 5px solid black;
  
}






/*onderste kolom */
.footer {
  bottom: 0;
  text-align: center; 
  box-align: center;
  width: 100%;
  background-color: rgb(220, 220,220);
  position: fixed;
  padding: 20px;
  
 
}

.navbarfooter a {
  
  padding: 20px 20px;
  margin: 50px 0px;
  text-decoration: none;
  color: white;
  box-align: grid;
 
 
}

.navbarfooter a:hover {
  color: rgba(216,239,233,255);
}

/*Over ons pagina*/
.header1 {
  height: 10vh;
  background-color: rgb(220,220,220);
  text-align: left; 
  box-align: center;
  font-size: 35px;
  position: top;
  width: 100%;
  z-index: 2;
  
}
.text-block1 {
 margin-top: 5%;
 margin-bottom: 10%;
 margin-right: 2%;
 margin-left: 2%;
 background-color:  rgb(220, 220,220);
 border-radius: 25px;
 padding: 10px;
 border: 5px solid black;
  
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>