.navbarheader a{
  padding: 12px 1px;
  text-decoration: none;
  color: white;
  box-align: grid;
 box-shadow: 

 }

nav a {
  padding: 12px 1px;
  text-decoration: none;
  color: white;
  box-align: grid;
 box-shadow: 

}

nav li {
  display: inline-block;
  margin: 0px 10px
}





h1 {color: red}
h2 {color: white}
h3 {color: white}
  
body {
      background-color: black
      }

      * {
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
<style>
/* Style the header */
.header {

  height: 50vw;
  text-align: center;
  font-size: 35px;
  position: fixed;
}

/* Create three unequal columns that floats next to each other */
.column {

  width: 100vw;
  height: 100vw;
  background-image: url('/Images/achtergrond.jpg');
  background-attachment: top;  
  background-size: 100%;
  background-repeat: no-repeat;
  
  

}



/*onderste kolom */
.footer {
  position: bottom;
  bottom: 0px;
  width: 100%;
  background-color:black;
  padding: 7px;
  text-align: center;
}

.navbarfooter a {
  
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  box-align: grid;
  
}
  


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
   .column {
    width: 100%;
  }
}

 
</style>



